@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

:root {
  /* font size */
  --text-h1: 30px;
  --text-h2: 23px;
  --text-p: 17px;

  /* Color of letters*/
  --text-color-on-primary-background: #333333;
  --text-color-on-secondary-background: #ffffff;

  /* font family titles */
  --font-family-title: "Kalam", cursive;

  /* backgrounds */
  --main-background-color: #f2f2f2;
  --secondary-background-color: #333333;
  --tertiary-background-color: #3498db;
}

/*-----------------------------------*/
/* Media screen mobile */

.container {
  text-align: center;
  padding: 0px 10%;
}

.containerTitle {
  margin-top: 45px;
}

.containerTitle h1 {
  font-size: var(--text-h1);
  color: var(--text-color-on-primary-background);
}

 .containerImg {
  margin: 5% 0px;
}

.containerImg img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.5s;
}


/*-----------------------------------*/
/* Media screen Desktop*/
@media screen and (min-width: 750px) {
  .containerProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .containerImg {
    width: 100%;
  }

  .containerImg img:hover {
    transform: translateY(-7px);
  }
}

