@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

:root {
  /* font size */
  --text-h1: 30px;
  --text-h2: 23px;
  --text-p: 17px;

  /* Color of letters*/
  --text-color-on-primary-background: #333333;
  --text-color-on-secondary-background: #ffffff;

  /* font family titles */
  --font-family-title: "Kalam", cursive;

  /* backgrounds */
  --main-background-color: #f2f2f2;
  --secondary-background-color: #333333;
  --tertiary-background-color: #3498db;
}

/*-----------------------------------*/

/* Media screen mobile */
.container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;  
}

.containerImg {
    display: flex;
    justify-content: end;
    padding: 0% 5% 30px 0%;
}

.imgCV {
    width: 23%;
    max-width: 450px;
}


/*-----------------------------------*/

/* Media screen Desktop*/
@media screen and (min-width: 1100px) {
  
}
