:root {
    /* font size */
    --text-h1: 30px;
    --text-h2: 23px;
    --text-p: 17px;

    /* Color of letters*/
    --text-color-on-primary-background: rgb(20, 28, 58);
    --text-color-on-secondary-background: #ffffff;

    /* font family titles */
    --font-family-title: 'Kalam', cursive;

    /* backgrounds */
    --main-background-color: #f2f2f2;
    --secondary-background-color: #333333;
    --tertiary-background-color: #3498db;
}

/* Media screen mobile */
.desktopNavbar {
    display: none;
}

.mobileNavbar {
    display: initial;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background: var(--main-background-color);
    opacity: 0.8;
    box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.3);
}

.navIconToggle {
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 15px 25px;
}

.subMenu {
    display: flex;
    flex-direction: column;
    width: 290px;
    max-width: 500px;
    height: 250px;
    padding: 10px 0px;
    text-align: center;
    background-color: var(--secondary-background-color);
    border-radius: 7px;
}

.subMenuLinks {
    text-decoration: none;
    color: var(--text-color-on-secondary-background);
    padding: 20px;
    transition: background 0.2s;
}

.subMenuLinks:hover {
    background: rgb(87, 87, 87);
}

.subMenuLinks:active {
    background-color: #4d4e4f;
}

/*-----------------------------------*/
/* Media screen Desktop*/
@media screen and (min-width: 750px) {
    .mobileNavbar {
        display: none;
    }

    .desktopNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 50px 0px 50px;
    }

    .desktopNavItems {
        display: flex;
    }

    .desktopNavItemsLinks {
        padding: initial;
        color: rgb(20, 28, 58);
        font-size: 17px;
        margin: 0px 10px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.5s ease;
    }

    .desktopNavItemsLinks:hover {
        color: black;
        border-bottom: 3px solid rgb(110, 7, 243);
    }

    .desktopNavItemsLinks:active {
        background: initial;
    }
}
