@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

:root {
    /* font size */
    --text-h1: 30px;
    --text-h2: 23px;
    --text-p: 17px;

    /* Color of letters*/
    --text-color-on-primary-background: rgb(20, 28, 58);
    --text-color-on-secondary-background: #ffffff;

    /* font family titles */
    --font-family-title: 'Kalam', cursive;

    /* backgrounds */
    --main-background-color: #f2f2f2;
    --secondary-background-color: #333333;
    --tertiary-background-color: #3498db;
}

/*-----------------------------------*/
/* Media screen mobile */

.containerOfMyPresentation {
    background: rgb(110, 7, 243);
    padding: 14% 8%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
    color: var(--text-color-on-secondary-background);
}
.text {
    font-size: var(--text-p);
    text-align: center;
    color: var(--text-color-on-secondary-background);
}

.languageContainer {
    display: flex;
    flex-direction: column;
    color: rgb(20, 28, 58);
}

.frontendParentContainer {
    text-align: center;
    padding-bottom: 11px;
    border-bottom: 2px dotted rgb(110, 7, 243);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.backendParentContainer {
    text-align: center;
    padding-bottom: 11px;
    border-bottom: 2px dotted rgb(110, 7, 243);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.gitParentContainer {
    text-align: center;
    padding-bottom: 11px;
    border-bottom: 2px dotted rgb(110, 7, 243);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.containerIcons {
    display: flex;
    justify-content: center;
}

.icon {
    width: 11%;
    max-width: 70px;
    margin: 0px 10px;
    transition: transform 0.4s;
}

.icon:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*-----------------------------------*/
/* Media screen Desktop*/
@media screen and (min-width: 900px) {
    .containerSkills {
        display: flex;
        align-items: center;
        padding: 6% 0px 6% 0px;
    }

    .text {
        width: 25%;
        font-size: var(--text-p);
        padding: 0px 80px;
    }

    .containerIcons {
        width: 100%;
    }

    .frontendParentContainer {
        display: flex;
    }

    .containerIconsFrontend h1 {
        text-align: center;
    }

    .backendParentContainer {
        display: flex;
        justify-content: end;
    }

    .containerIconsBackend {
        margin-right: 40px;
    }

    .containerIconsBackend h1 {
        text-align: center;
    }

    .icon {
        width: 90px;
    }
}
