@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");

:root {
  /* font size */
  --text-h1: 30px;
  --text-h2: 23px;
  --text-p: 17px;

  /* Color of letters*/
  --text-color-on-primary-background: #333333;
  --text-color-on-secondary-background: #ffffff;

  /* font family titles */
  --font-family-title: "Kalam", cursive;

  /* backgrounds */
  --main-background-color: #f2f2f2;
  --secondary-background-color: #333333;
  --tertiary-background-color: #3498db;
}

/*-----------------------------------*/
/* Media screen mobile */

.containerAboutMe {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgCristian {
  width: 62%;
  max-width: 310px;
  border: 5px double black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.aboutMe {
  width: 100%;
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-size: var(--text-h1);
}

.description {
  margin: 10px 0px 0px 0px;
  font-size: var(--text-p);
  text-align: center;
}

.imgDesktops {
  margin-top: -80px;
  margin-bottom: -20px;
  width: 90%;
  max-width: 650px;
}

/*-----------------------------------*/
/* Media screen Desktop*/
@media screen and (min-width: 750px) {
  .containerAboutMe {
    margin-top: 110px;
  }

  .imgDesktops {
    margin-top: -200px;
  }
}
